@model IEnumerable<MVCApp.Services.DBModels.TicketData>
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

@*@{
    List<DummyData> dataList = new List<DummyData>();
    DummyData data;
    data = new DummyData("Stage", "1234ASD", "3A", "Lars Umlaut", "12:30");
    dataList.Add(data);
    data = new DummyData("UPS", "233FSDF", "3A", "Jethro Abernathy", "12:30");
    dataList.Add(data);
    data = new DummyData("Pallete Picker", "1234DGF", "3A", "Jed Cumberbatch", "12:30");
    dataList.Add(data);
    data = new DummyData("Amazon", "234ERDB", "3A", "Benedict Smith", "12:30");
    dataList.Add(data);
    data = new DummyData("Stage", "233SDCS", "3A", "Gustaf Gundarsonn", "12:30");
    dataList.Add(data);
}*@


<div class="text-center">
    <h2 class="display-4">Here's the latest data</h2>
    <br />
    <br />

</div>

<div>
    <table id="dummyTable" class="table table-hover table-bordered table-dark">
        <thead class="thead-light">
            <tr>
                <th>Job Type</th>
                <th>Trip Number</th>
                <th>Stage Number</th>
                <th>Employee Name</th>
                <th>Time</th>
            </tr>
        </thead>

        <tbody>
            @*@{
                foreach (TicketData d in @model)
                {
                    <tr>
                        <td>@d.JobType</td>
                        <td>@d.TripNo</td>
                        <td>@d.StageNo</td>
                        <td>@d.EmplName</td>
                        <td>@d.StartTime</td>
                    </tr>
                }
            }*@

            @foreach (var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.JobType.JobType1)</td>
                <td>@Html.DisplayFor(modelItem => item.TripNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.StageNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.Employee.EmployeeName)</td>
                <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
            </tr>
            }
        </tbody>
    </table>
</div>

@*<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>*@


@*<script>
    $(document).ready(function () {
        console.log($('#dummyTable'))
        $('#dummyTable').DataTable();
    });</script>*@
