@model IEnumerable<MVCApp.Models.TicketData>
@{
    Layout = "_Layout";
}

<!DOCTYPE html>


<div class="text-center">
    <h2 class="display-4">Here's the latest data</h2>
    <br />
    <br />

</div>

<div>
    <table id="dummyTable" class="table table-hover table-bordered table-dark">
        <thead class="thead-light">
            <tr>
                <th>Job Type</th>
                <th>Trip Number</th>
                <th>Stage Number</th>
                <th>Employee Name</th>
                <th>Time</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.JobType.JobType1)</td>
                <td>@Html.DisplayFor(modelItem => item.TripNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.StageNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.Employee.EmployeeName)</td>
                <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
            </tr>
            }
        </tbody>
    </table>
</div>

